Data/pipeline/PL_bronze_copy.json
{
	"name": "PL_bronze_copy",
	"properties": {
		"activities": [
			{
				"name": "Lookup into data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select \ns.name as SchemaName,\nt.name as TableName\nfrom sys.tables t\ninner join sys.schemas s\non t.schema_id = s.schema_id\nwhere s.name = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlServerTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Table",
				"description": "Get each table name and schema.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup into data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup into data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy on premise sql data",
							"description": "Copy onpremise sql data to ADLS Bronze container (Raw)",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('select * from ', item().SchemaName,'.', item().TableName)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SqlServerTable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"table": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Silver to Gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze to Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Silver to Gold Notebook"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Bronze to Silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Bronze to Silver Notebook"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-04-06T06:42:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}